/* Common styles for the range input */
input[type='range'] {
  -webkit-appearance: none; /* Remove default appearance for WebKit browsers */
  appearance: none;
  width: 100%;
  height: 8px; /* Height of the track */
  background: transparent; /* Set to transparent to style track separately */
  cursor: pointer;
  outline: none; /* Remove outline on focus */
}

/* WebKit browsers (Chrome, Safari, Opera GX) */
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px; /* Same height as the track */
  background: linear-gradient(
    to right,
    #00ffff var(--value, 0%),
    #a8a8a8 var(--value, 0%)
  ); /* Dynamic background */
  border-radius: 4px; /* Rounded corners */
  border: none; /* Remove any default border */
}

/* Hide the thumb initially */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default appearance for thumb */
  appearance: none;
  width: 15px; /* Width of the thumb */
  height: 15px; /* Height of the thumb */
  background: #f3f3f3; /* Updated thumb color */
  border-radius: 50%; /* Round thumb */
  margin-top: -3.5px; /* Center the thumb on the track */
  position: relative;
  z-index: 1; /* Ensure thumb is above track */
  opacity: 0; /* Hide thumb initially */
  transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

/* Thumb will only appear when hovered */
input[type='range']:hover::-webkit-slider-thumb {
  opacity: 1; /* Show thumb on hover */
}

input[type='range']::-ms-fill-lower {
  background: #00ffff; /* Left fill color */
  border-radius: 4px; /* Rounded corners */
}

input[type='range']::-ms-fill-upper {
  background: #a8a8a8; /* Right fill color */
  border-radius: 4px; /* Rounded corners */
}

/* Hide the thumb initially for non-webkit browsers */
input[type='range']::-moz-range-thumb,
input[type='range']::-ms-thumb {
  width: 15px; /* Width of the thumb */
  height: 15px; /* Height of the thumb */
  background: #f3f3f3; /* Updated thumb color */
  border-radius: 50%; /* Round thumb */
  margin-top: 0; /* Align the thumb on the track */
  position: relative;
  z-index: 1; /* Ensure thumb is above track */
  opacity: 0; /* Hide thumb initially */
  transition: opacity 0.3s ease; /* Smooth transition for visibility */
}

/* Show the thumb on hover for non-webkit browsers */
input[type='range']:hover::-moz-range-thumb,
input[type='range']:hover::-ms-thumb {
  opacity: 1; /* Show thumb on hover */
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background-color: #1e1e1e;
  border-radius: 10px;
  border: 3px solid #121212;
}

* {
  scrollbar-color: #1e1e1e #121212;
}
